fastapi
uvicorn
supabase
postgrest
gotrue
storage3
python-dotenv
bcrypt
ultralytics
opencv-python
norfair
numpy
torch
torchvision
edge-tts
pydub
moviepy
pyngrok
requests
aiohttp
pandas
Pillow
asyncio
tqdm
google-colab
ipywidgets
